<div id="<%= dom_id account %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= account.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= account.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type account:</strong>
    <%= account.type_account %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= account.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bank:</strong>
    <%= account.bank_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Alias:</strong>
    <%= account.alias %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pinned:</strong>
    <%= account.pinned %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this account", account, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this account", edit_account_path(account), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
